body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #000000 !important;
    margin: 0;
    padding: 0;
    color: #ffffff;

}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* ⇡をコメントアウトすると頂点揃えになる */
    align-items: center;
    gap: 4vh;
}

header {
    width: 30vw;
    height: 10vh;
}

.all-allow-container {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 15vh;
}

.all-allow-radio {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.input-radio {
    display: block;
}

.pn-input {
    width: 80%;
    display: flex;
    border: 2px solid #32fc17;
    border-radius: 0.5rem;
    background-color: rgb(202, 202, 202, 0.5);
    position: relative;
    height: 75vh;
}

.pn-overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    z-index: 10;
    display: none;


}

.scroll-box {
    width: 100%;
    height: 65vh;
    /* border: 1px solid #ccc; */
    overflow-y: auto;
    /* 縦スクロールを有効に */
    padding: 1rem;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: 0rem 1rem 1rem 1rem;

}

.input-row input {
    flex: 1;
    padding: 5px;
    font-size: 1.5rem;
}

.delete-button {
    margin-left: 1px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
}