body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.home-button {
    display: block;
    padding: 0.5% 10%;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.home-button:hover {
    background-color: #666;
}

button:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.log-container {
    margin-top: 3%;
    overflow-y:scroll;
    max-height:70vh;
    width: 90%;
    /* スクロールボックスの高さを設定 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
}

tbody tr:nth-child(even) {
    background-color: #222;
}

