.main-section {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 3rem;
    width: 70%;
    height: 100%;
}

/* 親：横並び＋折り返し対応 */
.shelf-grid {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    gap: 0.5rem ;
    grid-template-columns: repeat(3, 1fr);
    /* 3列 */
    grid-template-rows: repeat(auto, auto);
    width: 100%;
    height: 100%;
}

/* 各棚ユニット：2行3列 */
.shelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, auto);
    width: 100%;
    aspect-ratio: 1 / 1.1;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc; /* スッキリした薄いグレー */
    border-radius: 10px; /* 角を丸める */
    background-color: #b9b9b9; /* 背景色を薄く */
}




/* セルスタイル */
.cell {
    /* background-color: #0a0909; */
    position: relative;
    text-align: center;
    padding: 0.5rem;
    border-left: 0.1rem solid #34d803;
    border-right: 0.1rem solid #ff0000;
    border-bottom: 0.1rem solid #ff0000;
    /* border: 1px solid #ff0000; */
}

