body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #ffffff;

}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* ⇡をコメントアウトすると頂点揃えになる */
    align-items: center;
    gap: 4vh;
}


header {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    letter-spacing: 0.3vh;

}

header h1 {
    font-size: clamp(14px, 3vw, 50px);
}

.button-sections {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.index-button {
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 1rem;
    letter-spacing: 0.5rem;
}


.main-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}

.main-button {
    font-size: clamp(14px, 3vw, 50px);
}


.admin-section {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
    border: dashed 1px #ffffff;
}

.admin-buttons {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0rem 2rem 2rem 2rem;
}

.admin-button {
    font-size: clamp(20px, 2vw, 40px);
}

.admin-title {
    margin: 2rem;
    text-align: center;
    font-size: clamp(14px, 3vw, 40px);
}

/* ボタン押下時の拡大アニメーション */
button:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.btn-title{
    white-space: nowrap
}