html body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #ffffff;
    height: 100vh;
    overflow: hidden;
}





.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 0;
    /* 子要素の高さを制限 */
    --bs-gutter-x: 0rem;
}

.zone-list {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    /* IE, Edge 対応
    -ms-overflow-style: none;
    /* Firefox 対応 */
    /* scrollbar-width: none; */
}



/* Chrome, Safari 対応 */
.zone-list::-webkit-scrollbar-thumb {
    background-color: #3760d0;
    border-radius: 1rem;
}

.zone-sidebar {
    border-right: 2px solid #aaa9a9;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 10%;
    height: auto;

}

.pn-sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.zone-item {
    width: 100%;
    font-size: 1rem;
}

.zone-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.allzone {
    width: 100%;
    margin-bottom: 0.5rem;
}

.zone-select {
    padding: 1rem 0.4rem 1rem 0.4rem;
    background-color: #bbbbbb;
    border-radius: 0.5rem;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.pn-list {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    height: auto;
    width: 90%;

}

/* Chrome, Safari 対応 */
.pn-list::-webkit-scrollbar-thumb {
    background-color: #3760d0;
    border-radius: 8px;
}


.pn-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.pn-select {
    overflow-y: hidden;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */


}


.btn {
    font-size: 1.1rem;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}




/* ボタン押下時の拡大アニメーション */
button:active {
    transform: scale(1.1);
    transition: transform 0.1s;
}

.highlight {
    background-color: rgba(12, 223, 12, 0.2);
    box-shadow: #7fff00 0px 0px 0.3em;
}