body  {
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    background-color: #000000 !important;
    margin: 0;
    padding: 0;
    color: #ffffff;

}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* ⇡をコメントアウトすると頂点揃えになる */
    align-items: center;
    gap: 4vh;
}

header{
    width: 40vw;
}

.pn-input{
    width: 80%;
    display: flex;
    border: 2px solid #32fc17;
    border-radius: 0.5rem;
    background-color: rgb(202, 202, 202,0.5);
}

.scroll-box {
  width: 80%;        
  height: 65vh;       
  /* border: 1px solid #ccc; */
  overflow-y: auto;     /* 縦スクロールを有効に */
  padding: 1rem;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin: 0rem 1rem 1rem 1rem;
    
}

.input-row input {
    flex: 1;
    padding: 5px;
    font-size: 1.5rem;
}

.delete-button {
    margin-left: 1px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.add-button {
    /* margin-top: 1rem;
    padding: 4rem 7rem;
    font-size: 50rem; */
    display: flex;
    align-items:flex-end

}


#add-button {
    /* background-color: rgba(50, 252, 23, 0.5);
    color: white;
    cursor: pointer; */
    font-size: 5rem;
    /* padding: 1rem 2rem;
    border-radius: 5%; */
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: #000000 3px solid;
}