<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>品番管理</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-icons-1.13.1/bootstrap-icons.css">

    <link rel="stylesheet" href="../static/css/cell_permission.css" />



</head>

<body>
    <div class="wrapper">
        <!-- スクロールボックス -->
        <!-- 戻るボタン -->
        <div class="back-btn-container">
            <button onclick="window.history.back()" class="back-btn btn btn-outline-secondary">
                <i class="bi bi-arrow-left-short"></i>
            </button>
        </div>
        <header class="header">
            <h1>保管許可設定</h1>
        </header>
        <div class="all-allow-container">
            <form>
                <div class="all-allow-radio">
                    <label class="input-radio">
                        <input id="all-allow" type="radio" name="choice" value="true">
                        全品番許可
                    </label>
                </div>
                <div class="all-allow-radio">
                    <label class="input-radio">
                        <input id="pn-permission" type="radio" name="choice" value="false">
                        個別品番許可
                    </label>
            </form>
        </div>
    </div>
    <div class="pn-list">
        <div id="pn-overlay" class="pn-overlay"></div>
        <div id="input-container" class="scroll-box">
            <!-- ここにJSモジュールで品番INPUTを出力 -->
            <table id="input-table">
                <thead class="row-header">
                    <th class="col-header">
                        背番号
                    </th>
                    <th class="col-header">
                        品番
                    </th>
                    <th class="col-header">
                        材質
                    </th>
                    <th class="col-header">
                        外径
                    </th>
                    <th class="col-header">
                        板厚
                    </th>
                    <th class="col-header">
                        全長長さ
                    </th>
                    <th class="col-header">
                        切断長さ
                    </th>
                    <th class="col-header">
                        許可
                    </th>
                </thead>
                <tbody id="row-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="admin-buttons">
        <button id="save-button"
            class="index-button btn btn-primary lign-items-center gap-9 px-9 py-9 fs-9 admin-button">
            <i class="bi bi-floppy"></i>
            SAVE
        </button>
        <button id="cancel-button"
            class="index-button btn btn-primary lign-items-center gap-9 px-9 py-9 fs-9 admin-button">
            <i class="bi bi-x-octagon"></i>
            CANCEL
        </button>
    </div>
    </div>
    </div>
</body>
<script>
    const cell_list = {{ cell | tojson }};
    const allow_storage_list = {{ allow_storage | tojson }};
    const pn_list = {{ product_numbers | tojson }};
    console.log(pn_list);
    // pn_listの内容をコンソールに出力

</script>

<script type="module" src="../static/js/pn_ctrl/existPnListCreate.js"></script>
<script type="module" src="../static/js/cell_permission.js"></script>

</html>