<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>置き場管理(StockTrack)</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>

<body>
    <header>
        <h1>置き場管理(StockTrack)</h1>
    </header>
    <button class="index-button btn btn-primary lign-items-center gap-9 px-9 py-9 fs-9">
        <i class="index-button-icon bi bi-box-seam fs-9"></i>
        入出庫
    </button>

</body>

</html>