<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入出庫マップ</title>
    <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
    <link rel="stylesheet" href="../static/css/bootstrap-icons-1.13.1/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/map.css" />
    <link rel="stylesheet" href="../static/css/popup.css">
    <link rel="stylesheet" href="../static/css/stock_ctrl.css">
    <link rel="stylesheet" href="../static/css/main_section.css">
    <link rel="stylesheet" href="../static/css/highlight.css">

    <div id="overlay" style="display: none;"></div>
    <div class="wrapper">
        <div class="row">
            <!-- ゾーンサイドバー -->
            <div class="zone-sidebar">
                <!-- 戻るボタン -->
                <div class="back-btn-container">
                    <button onclick="window.history.back()" class="back-btn btn btn-outline-secondary">
                        <i class="bi bi-arrow-left-short"></i>
                    </button>
                </div>
                <p class="zone-title">絞り込み</p>
                <button class="allzone btn btn-outline-secondary" data-zone="all">全て</button>
                <div class="zone-select">
                    <div class="zone-list" id="zonelist">
                    </div>
                </div>
            </div>
            <!-- 品番サイドバー -->
            <div class="pn-sidebar">
                <div class="side-top">
                    <div class="pn-title">パイプ検索</div>
                    <div class="search-container">
                        <div class="serial-search-container">
                            <label for="serial-search">背番号</label>
                            <input id="serial-search" name="serial-no" inputmode="numeric" />
                        </div>
                        <div class="length-search-container">
                            <div class="length-select-box">
                                <div class="length-search-title">
                                    <label class="search-lbl">長尺長さ</label>
                                </div>
                                <div class="search-select-box">
                                    <input type="radio" name="length-search-select" id="partical-match">
                                    <label for="partical-match">部分一致</label>
                                    <input type="radio" name="length-search-select" id="range-search">
                                    <label for="range-search">範囲選択</label>
                                </div>
                            </div>
                            <div class="length-search-box" id="length-search-box">
                            </div>
                        </div>
                        <div class="entry-container">
                            <button class="clear" id="clear-button">クリア</button>
                            <button class="search" id="search-button">検索</button>
                        </div>
                    </div>
                </div>

                <div class="pn-select">
                    <div class="pn-list" id="pnlist">
                    </div>
                </div>
            </div>
            <!-- メインセクション -->
            <div class="main-section">
                <!-- 3列の折り返し要素 -->
                <div class="shelf-grid" id="shelfGrid">
                    <!-- 各棚 -->




                    <!-- ユニットはどんどん増えてOK -->
                </div>
            </div>
        </div>


        <!-- ポップアップセクション -->
        <div id="popup" class="popup-container" style="display: none;">


        </div>
    </div>
    </body>
    <script>
        const zone_list = {{ zones | tojson}};
        const shelf_list = {{ shelfs | tojson}};
        const cell_list = {{ cells | tojson}}
        const pn_list = {{ product_numbers | tojson }};
        const allow_storage_list = {{ allow_storage | tojson }}
        const cell_stock_list = {{ cell_stock_statuses | tojson }};

    </script>

    <script type="module" src="../static/js/common/displayname.js"></script>
    <script type="module" src="../static/js/common/reload_shelf_data.js"></script>
    <script type="module" src="../static/js/common/change_select_search.js"></script>
    <script type="module" src="../static/js/map_sideber.js"></script>
    <script type="module" src="../static/js/map_main_section.js"></script>
    <script type="module" src="../static/js/common/pn_list.js"></script>
    <script type="module" src="../static/js/popup/save_inout.js"></script>
    <script type="module" src="../static/js/common/stack_gauge.js"></script>
    <script type="module" src="../static/js/common/pn_highlight.js"></script>
    <script type="module" src="../static/js/common/zone_sort.js"></script>
    <script type="module" src="../static/js/popup.js"></script>



</html>