<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入出庫マップ</title>
    <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/map.css" />
</head>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-2 pn-sidebar">
                <p class="pn-title">品番エリア</p>
                <div class="pn-select">
                    <ul class="pn-list">
                        <button class="pn-item btn btn-outline-secondary text-white">品番1</button>
                        <button class="pn-item btn btn-outline-secondary">品番2</button>
                        <button class="pn-item btn btn-outline-secondary">品番3</button>
                        <button class="pn-item btn btn-outline-secondary">品番4</button>
                        <button class="pn-item btn btn-outline-secondary">品番5</button>
                        <button class="pn-item btn btn-outline-secondary">品番6</button>
                        <button class="pn-item btn btn-outline-secondary">品番7</button>
                        <button class="pn-item btn btn-outline-secondary">品番8</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                        <button class="pn-item btn btn-outline-secondary">品番</button>
                    </ul>

                </div>
            </div>
            <div class="col-sm-10 main-section">
                <div class="shelf-1">
                    <div>One</div>
                    <div>Two</div>
                    <div>Three</div>
                    <div>Four</div>
                    <div>Five</div>
                    <div>Six</div>
                </div>
                <div class="shelf-2">
                    メインコンテンツエリア
                </div>
                <div class="shelf-3">
                    メインコンテンツエリア
                </div>
                <div class="shelf-4">
                    メインコンテンツエリア
                </div>
            </div>
        </div>
</body>
<script src="../static/js/pn_ctrl.js"></script>

</html>